<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blog Post</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #333;
            color: #fff;
            padding: 10px 0;
            text-align: center;
        }

        nav {
            display: flex;
            justify-content: center;
        }

        nav a {
            color: #fff;
            text-decoration: none;
            margin: 0 20px;
        }

        h1, h2 {
            text-align: center;
            margin-top: 20px;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }

        .blog-post {
            background-color: #f9f9f9;
            padding: 20px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .blog-post h1 {
            font-size: 32px;
            margin-bottom: 10px;
        }

        .blog-post h2 {
            font-size: 24px;
            color: #666;
            margin-bottom: 10px;
        }

        .blog-post p {
            font-size: 18px;
            line-height: 1.6;
        }
    </style>
</head>
<body>
    <header>
        <h1>My Blog</h1>
        <nav>
            <a href="/">Home</a>
            
        </nav>
    </header>
    <div class="container">
        <div class="blog-post">
            <h1><%- blog[0].title %></h1>
            <h2><%- blog[0].subTitle %></h2>
            <p>
                <%- blog[0].description %>
            </p>
            <br>
            <button > <a href="/delete/<%- blog[0].id %>">Delete Blog</a> </button>
            <button > <a href="/edit/<%- blog[0].id %>">Edit Blog</a> </button>
        </div>
    </div>
</body>
</html>
